.bs1{
    padding: 0 7%;
}

.judul{
    margin-bottom: 0.2rem;
}

.penulis{
    margin-bottom: 0.2rem;
}

.kota{
    margin-bottom: 1rem;
}

.p1{
    margin-bottom: 1rem;
}

.p2{
    margin-bottom: 1rem;
}