:root{
    --color1:#3f7c88;
    --color2:#a5dbdc;
    --color3:#d2e2e2;
    --color4:#edf3f5;
}

@font-face{
    font-family: 'fontku';
    src: url('./font/Roboto-Regular.ttf');
}
@font-face{
    font-family: 'public';
    src: url('./font/PublicSans-Regular.ttf');
}
@font-face{
    font-family: 'poppins';
    src: url('./font/Poppins-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'public', sans-serif;
}

