<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setters</title>
    <link rel="stylesheet" href="/css/umum.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <nav>
      <div class="menu">
        <a href="">Dashboard</a>
        <a href="">Product</a>
        <a href="">Category</a>
        <a href="">Customer</a>
        <a href="">History</a>
        <a href="">Stock</a>
        <a href="">Blog</a>
      </div>
      <div class="logo">
        <a href="">Setters</a>
      </div>
    </nav>
    <section class="s1">
      <div class="header">
        <h1>Blog</h1>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar Html untuk Pemula</h1>
        <p class="nama">Indah | 17 Agustus 2024</p>
        <p class="kota">Banjar Baru</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>

      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Sejarah Komputer</h1>
        <p class="nama">Indah | 18 Agustus 2024</p>
        <p class="kota">Banjarbaru</p>
        <p class="isi">
          Perangkat komputer yang pertama ternyata dikembangkan untuk desain
          pesawat dan peluru kendali. Komputer generasi pertama ini digagas oleh
          Konrad Zuse, seorang insinyur asal jerman. Komputer ini menggunakan
          tabung hampa udara sebagai...
        </p>
        <a href="/user/ById/2" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
      <div class="div1">
        <h1 class="judul">Belajar ExpressJS</h1>
        <p class="nama">Ucup Surucup | 17 Agustus 2024</p>
        <p class="kota">Tanah Bumbu</p>
        <p class="isi">
          ExpressJS adalah salah satu Fremework OpenSource yang paling populer
          NodeJS, ExpressJS pertama kali dibuar tahun 2010, ExpressJS sekarang
          menjadi hal yang wajib di kuasai ketika kita akan membuat web
          menggunkan....
        </p>
        <a href="/user/ById/1" class="baca">Read more</a>
      </div>
    </section>
  </body>
</html>
